/* ==========================================================================
	Imports
/* ========================================================================== */
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/*----------  Fonts  ----------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,300);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,300);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 2.5em;
}

dfn {
  font-style: italic;
}

mark {
  background: #fff;
  color: #444;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #444;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/*----------  Fonts  ----------*/
header {
  padding: 20px 60px;
}

section {
  min-height: 440px;
}

footer {
  color: #fff;
  background-color: #444;
  padding: 20px 0 60px 0;
  border-top: 15px solid #333;
}

.container {
  width: 1030px;
}

body {
  background-color: #21a9e2;
}

/*----------  major sections  ----------*/
#private-beta {
  background-color: #fff;
  color: #444;
  text-align: center;
}
#private-beta form {
  text-align: left;
}

#team {
  text-align: center;
  background-color: #e7e7e7;
}
#team img {
  width: 130px;
  height: 130px;
  text-align: center;
  margin: 0 auto;
}
#team .row {
  margin-bottom: 12px;
  padding-bottom: 12px;
}

/*----------  Global Nav  ----------*/
a#beta-button {
  margin-top: -35px;
}

/*----------  typography  ----------*/
h1, h2, h3 {
  font-family: 'Raleway';
}

section h3 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

/*----------  Swiper  ----------*/
.swiper-container {
  height: 600px;
  width: 100%;
}

.swiper-slide {
  font-family: 'Amatic SC';
  background-position: center;
}
.swiper-slide p {
  font-size: 72px;
  color: #fff;
  padding-left: 60px;
}

#f0 {
  background: url("/wp-content/themes/cola-theme/images/test/f0.png") no-repeat;
}

#f1 {
  background: url("/wp-content/themes/cola-theme/images/test/f1.png") no-repeat;
}

#f2 {
  background: url("/wp-content/themes/cola-theme/images/test/f2.png") no-repeat;
}

#f3 {
  background: url("/wp-content/themes/cola-theme/images/test/f3.png") no-repeat;
}

#f4 {
  background: url("/wp-content/themes/cola-theme/images/test/f4.png") no-repeat;
  background-size: cover;
  background-position: center;
}
#f4 p {
  text-align: center;
  font-size: 90;
  color: #21a9e2;
}

/* ==========================================================================
	Base
/* ========================================================================== */

/*# sourceMappingURL=global.css.map */
