/* ==========================================================================
	Imports
/* ========================================================================== */
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/*----------  Fonts  ----------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,300);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 2.5em;
}

dfn {
  font-style: italic;
}

mark {
  background: #fff;
  color: #444;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #444;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/*----------  Fonts  ----------*/
header {
  padding: 40px 60px;
  background-color: #0f5674;
  padding: 30px 30px;
}

footer {
  color: #fff;
  background-color: #444;
  padding: 20px 0 60px 0;
  border-top: 15px solid #333;
  margin-top: 12px;
}
footer a {
  color: #fff;
}

body {
  background-color: #fff;
}

section {
  padding-bottom: 20px;
}

/*----------  major sections  ----------*/
#tagline {
  background-color: #062431;
  text-align: center;
  color: #fff;
  font-size: 200%;
  font-family: "Raleway";
  padding: 6px 0 0px 0;
}

#private-beta {
  background-color: #a8ddf4;
  color: #444;
  text-align: center;
  border-top: 3px solid #0c465e;
}
#private-beta form {
  text-align: left;
}

#team {
  text-align: center;
  background-color: #e7e7e7;
}
#team img {
  width: 130px;
  height: 130px;
  text-align: center;
  margin: 0 auto;
}
#team .row {
  margin-bottom: 12px;
  padding-bottom: 12px;
}
#team .img-circle {
  border: 6px solid #21a9e2;
}

#press {
  background-color: #fff;
  border-top: 3px solid #0c465e;
  border-bottom: 3px solid #0c465e;
}
#press h4 {
  font-family: "Raleway";
  font-size: 22px;
  margin-bottom: 0;
  text-align: center;
}

footer a .fa {
  color: #fff;
  margin-left: 12px;
}

/*----------  Global Nav  ----------*/
a#beta-button {
  margin-top: -35px;
}

/*----------  typography  ----------*/
h1, h2, h3 {
  font-family: 'Raleway';
}

section h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

/*----------  Swiper  ----------*/
.swiper-container {
  height: 480px;
  width: 100%;
}

.swiper-slide {
  font-family: 'Raleway';
}
.swiper-slide p {
  font-size: 44px;
  color: #062431;
  padding: 50px 0 0 60px;
  font-weight: 700;
}

#f0 {
  background: url("/wp-content/themes/cola-theme/images/test/f0.png") no-repeat;
  background-size: cover;
  background-position: left;
}

#f1 {
  background: url("/wp-content/themes/cola-theme/images/test/f1.png") no-repeat;
  background-size: cover;
  background-position: left;
}

#f2 {
  background: url("/wp-content/themes/cola-theme/images/test/f2.png") no-repeat;
  background-size: cover;
  background-position: left;
}
#f2 p {
  text-align: center;
}

#f3 {
  background: url("/wp-content/themes/cola-theme/images/test/f3.png") no-repeat;
  background-size: cover;
  background-position: left;
}
#f3 p {
  text-align: center;
}

#f4 {
  background: url("/wp-content/themes/cola-theme/images/test/f4.png") no-repeat;
  background-size: cover;
  background-position: center;
}
#f4 p {
  text-align: center;
}

#f5 {
  background: url("/wp-content/themes/cola-theme/images/test/f5.png") no-repeat;
  background-size: cover;
  background-position: center;
}
#f5 p {
  text-align: center;
}

/*----------  Blog  ----------*/
#page-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[search] {
  margin-bottom: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1030px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  #tagline {
    font-size: 20px;
  }

  header {
    padding: 8px 8px 20px 8px;
    background-color: #0f5674;
  }
  header img {
    width: 20%;
    height: 20%;
  }
  header a#beta-button {
    font-size: 90%;
    padding: 2px 8px;
    margin-top: -8px;
  }

  /*----------  Swiper  ----------*/
  .swiper-container {
    height: 300px;
    width: 100%;
  }

  .swiper-slide {
    font-family: 'Raleway';
  }
  .swiper-slide p {
    font-size: 24px;
    color: #062431;
    padding: 6px 0 0 0;
  }

  #f0 {
    background: url("/wp-content/themes/cola-theme/images/test/f0.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  #f1 {
    background: url("/wp-content/themes/cola-theme/images/test/f1.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  #f2 {
    background: url("/wp-content/themes/cola-theme/images/test/f2.png") no-repeat;
    background-size: cover;
    background-position: left;
  }
  #f2 p {
    text-align: center;
  }

  #f3 {
    background: url("/wp-content/themes/cola-theme/images/test/f3.png") no-repeat;
    background-size: cover;
    background-position: left;
  }
  #f3 p {
    text-align: center;
  }

  #f4 {
    background: url("/wp-content/themes/cola-theme/images/test/f4.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  #f4 p {
    text-align: center;
  }

  #private-beta h3 {
    font-size: 22px;
    margin-bottom: 0;
  }

  #press h3 {
    font-size: 22px;
    margin-bottom: 0;
  }

  #team h3 {
    font-size: 22px;
    margin-bottom: 0;
  }
}
/* ==========================================================================
	Base
/* ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 980px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  p.tagline {
    font-size: 20px;
  }
}
.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

/*# sourceMappingURL=global.css.map */
