header {
	padding: 20px 60px;
}

section {
	min-height: 440px;
}

footer {
	color: #fff;
	background-color: #444;
	padding: 20px 0 60px 0;
	border-top: 15px solid #333;
}

.container {
	width: 1030px;
}


body {
	background-color: $color_primary;
}


/*----------  major sections  ----------*/
#private-beta {
	background-color: #fff;
	color: #444;
	text-align: center;
	form {
		text-align: left;
	}
}

#team {
	img {
		width: 130px;
		height: 130px;
		text-align: center;
		margin: 0 auto;
	}
	text-align: center;
	background-color: #e7e7e7;
	.row {
		margin-bottom: 12px;
		padding-bottom: 12px;
	}
}


/*----------  Global Nav  ----------*/

a#beta-button {
	margin-top: -35px;
}

/*----------  typography  ----------*/
h1, h2, h3 {
	font-family: 'Raleway';
}

section h3 {
	font-size: 48px;
	text-align: center;
	margin-bottom: 50px;
}

/*----------  Swiper  ----------*/
.swiper-container {
	height: 600px;
	width: 100%;
}

.swiper-slide {
	font-family: 'Amatic SC';
	background-position: center;
	p {
		font-size: 72px;
		color: #fff;
		padding-left: 60px;	
	}
}

#f0 {
	background: url($images_dir + 'test/f0.png') no-repeat;
}

#f1 {
	background: url($images_dir + 'test/f1.png') no-repeat;
}

#f2 {
	background: url($images_dir + 'test/f2.png') no-repeat;
}

#f3 {
	background: url($images_dir + 'test/f3.png') no-repeat;
}

#f4 {
	background: url($images_dir + 'test/f4.png') no-repeat;
	background-size: cover;
	background-position: center;
	p {
		text-align: center;
		font-size: 90;
		color: $color_primary;
	}
}
