header {
	padding: 40px 60px;
	background-color: darken($color_primary, 25%);
	padding: 30px 30px;
}

footer {
	color: #fff;
	background-color: #444;
	padding: 20px 0 60px 0;
	border-top: 15px solid #333;
}




body {
	background-color: $color_primary;
}

section {
	padding-bottom: 20px;
}

/*----------  major sections  ----------*/
#tagline {
	background-color: darken($color_primary, 40%);
	text-align: center;
	color: $color_white;
	font-size: 200%;
	font-family: "Raleway";
	padding: 20px 0;
}
#private-beta {
	background-color: #fff;
	color: #444;
	text-align: center;
	form {
		text-align: left;
	}
}

#team {
	img {
		width: 130px;
		height: 130px;
		text-align: center;
		margin: 0 auto;
	}
	text-align: center;
	background-color: #e7e7e7;
	.row {
		margin-bottom: 12px;
		padding-bottom: 12px;
	}
	.img-circle {
		border: 6px solid $color_primary;
	}
}


/*----------  Global Nav  ----------*/

a#beta-button {
	margin-top: -35px;
}

/*----------  typography  ----------*/
h1, h2, h3 {
	font-family: 'Raleway';
}

section h3 {
	font-size: 48px;
	text-align: center;
	margin-bottom: 50px;
}

/*----------  Swiper  ----------*/
.swiper-container {
	height: 480px;
	width: 100%;
}

.swiper-slide {
	font-family: 'Raleway';
	p {
		font-size: 44px;
		color: darken($color_primary, 40%);
		padding: 50px 0 0 60px;
		font-weight: 700;
	}
}

#f0 {
	background: url($images_dir + 'test/f0.png') no-repeat;
	background-size: cover;
	background-position: left;
}

#f1 {
	background: url($images_dir + 'test/f1.png') no-repeat;
	background-size: cover;
	background-position: left;
}

#f2 {
	background: url($images_dir + 'test/f2.png') no-repeat;
	background-size: cover;
	background-position: left;
	p {
		text-align: center;
	}
}

#f3 {
	background: url($images_dir + 'test/f3.png') no-repeat;
	background-size: cover;
	background-position: left;
	p {
		text-align: center;
	}	
}

#f4 {
	background: url($images_dir + 'test/f4.png') no-repeat;
	background-size: cover;
	background-position: center;
	p {
		text-align: center;
	}
}

#f5 {
	background: url($images_dir + 'test/f5.png') no-repeat;
	background-size: cover;
	background-position: center;
	p {
		text-align: center;
	}
}
