header {
	padding: 20px 60px;
}

section {
	min-height: 440px;
}

footer {
	color: #fff;
	background-color: #444;
	padding: 20px 0 60px 0;
	border-top: 15px solid #333;
}

.container {
	width: 970px;
}


body {
	background-color: $color_primary;
}


/*----------  major sections  ----------*/
#private-beta {
	background-color: #fff;
	color: #444;
	text-align: center;
	form {
		text-align: left;
	}
}

#team {
	img {
		width: 130px;
		height: 130px;
		text-align: center;
		margin: 0 auto;
	}
	text-align: center;
}


/*----------  Global Nav  ----------*/

a#beta-button {
	margin-top: -35px;
}

/*----------  typography  ----------*/
h1, h2, h3 {
	font-family: 'Raleway';
}

section h3 {
	font-size: 48px;
	text-align: center;
	margin-bottom: 50px;
}

/*----------  Swiper  ----------*/
.swiper-container {
	height: 420px;
}